body {
    margin: 0;
    height: 100vh;
    background-color: #2c2c2c;
}

svg {
    width: 80%;
    position: fixed;
    top: 20%;
    left: 10%;
    height: 80%;
}

section {
    height: 100vh;
    display: grid;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 3rem;
}



svg path {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 1;
    stroke: #000;
    fill: none;
    /* transition: stroke-dashoffset 1s; */
	filter: blur(0.8px);
}


*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color:#04ccfe52;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.courses-container{
    z-index: 100000000000000;
    position: absolute;
    left: 200px;
    top: 100px;
    opacity: 0.9;
}



.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
	font-size: 19px;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}



.btn {
	background-color: #04ccfe52;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: black;
	text-decoration: none;
	transition: all 0.3s ease;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

.btn:hover{
	transform: scale(1.1);
}


.courses-container-2{
    z-index: 100000000000000;
    position: absolute;
    left: 300px;
    top: 20vh;
    opacity: 0.9;
}

.courses-container-3{
    z-index: 100000000000000;
    position: absolute;
    left: 300px;
    top: 120vh;
    opacity: 0.9;
}

.back a {
 position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;

}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #04ccfe11;
    border-radius: 5px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    
    display: none;
    overflow: hidden;
    font-size: small;
    text-align: left;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
   
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }