body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
}

hr {
    width: 500px;
    
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

p{
    font-size: 13px;
    color: white;
}

.back a{
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    background: rgba(128, 128, 128, 0.13);
    padding: 5px;
  }

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.tile {
    /* Box */
    border: 2px solid #04cefe;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 400px;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
   color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}