/* ========== Google Fonts =========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* ========== CSS Variables =========== */
:root {
  --primary-color: #04cefe;
  --default-color: #4f5665;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --white-color: #fff;
  --lighblue: #a0ecff;
  --blue: #04cefe;
  --custom: #04cefe;
  --color: #4d4d4d;
  --box-shadow-1: 0 5px 15px rgba(255, 255, 255, 0.171);
  --box-shadow-2: 0 5px 15px #4ac3fc4b;
  --gradient: linear-gradient(to bottom, #a0ecff, #04cefe);
  --btn-gradient: linear-gradient(to bottom, #a0ecff, #04cefe);
  background: #000;
  
}


*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  
  
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-color);
  background-color: #000;
}


.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
  }
  .slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: white;
    
    font-size: 3rem;
  }
  
  .hide {
    background: black;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
    z-index: 10000000000000;
  }


  /*---------------------*/

  .container-off {
    position: absolute;
    top: 200px;
    left: 50px
  }
  
  .container-off .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    
  }
  
  .container-off .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container-off .card:hover:before {
    clip-path: circle(300px at 80% -20%);
  }
  
  .container-off .card:after {
    content: "Office";
    
    position: absolute;
    top: 30%;
    left: -3%;
    font-size: 7em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
  
  }
  
  .container-off .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  
  .container-off .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
  }
  
  .container-off .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 270px;
  }
  
  .container-off .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
  }
  
  .container-off .card:hover .contentBx {
    height: 210px;
  }
  
  .container-off .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
  }
  
  .container-off .card .contentBx .size,
  .container-off .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .container-off .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
  }
  
  
  .container-off .card .contentBx .size h3,
  .container-off .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container-off .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  
  .container-off .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
  }
  
  .container-off .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
  } 
  
  .back{
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    
  }

  .back a{
    color: white;
    text-decoration: none;
  }
  
  .off{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    text-decoration: underline var(--primary-color);
    padding: 1px;
  }
  
  .back i{
    margin-right: 5px;
  }
  
  .back:hover{
    transform: scale(1.2);
  }
  
  .container-off1 {
    position: absolute;
    top: 200px;
    left: 450px
  }
  
  .container-off1 .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    
  }
  
  .container-off1 .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container-off1 .card:hover:before {
    clip-path: circle(300px at 80% -20%);
  }
  
  .container-off1 .card:after {
    content: "Office";
    
    position: absolute;
    top: 30%;
    left: -3%;
    font-size: 7em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
  
  }
  
  .container-off1 .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  
  .container-off1 .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
  }
  
  .container-off1 .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 270px;
  }
  
  .container-off1 .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
  }
  
  .container-off1 .card:hover .contentBx {
    height: 210px;
  }
  
  .container-off1 .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
  }
  
  .container-off1 .card .contentBx .size,
  .container-off1 .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .container-off1 .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
  }
  
  
  .container-off1 .card .contentBx .size h3,
  .container-off1 .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container-off1 .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  
  .container-off1 .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
  }
  
  .container-off1 .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
  } 
  
  
  .container-off2 {
    position: absolute;
    top: 200px;
    left: 850px
  }
  
  .container-off2 .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    
  }
  
  .container-off2 .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blue);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
  }
  
  .container-off2 .card:hover:before {
    clip-path: circle(300px at 80% -20%);
  }
  
  .container-off2 .card:after {
    content: "Office";
    
    position: absolute;
    top: 30%;
    left: -3%;
    font-size: 7em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
  
  }
  
  .container-off2 .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
  }
  
  .container-off2 .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
  }
  
  .container-off2 .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    width: 270px;
  }
  
  .container-off2 .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
  }
  
  .container-off2 .card:hover .contentBx {
    height: 210px;
  }
  
  .container-off2 .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
  }
  
  .container-off2 .card .contentBx .size,
  .container-off2 .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
  }
  
  .container-off2 .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
  }
  
  
  .container-off2 .card .contentBx .size h3,
  .container-off2 .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
  }
  
  .container-off2 .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  
  
  .container-off2 .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
  }
  
  .container-off2 .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
  } 
  
  
  
  
  