/* ========== Google Fonts =========== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

/* ========== CSS Variables =========== */
:root {
  --primary-color: #04cefe;
  --default-color: #4f5665;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --white-color: #fff;
  --lighblue: #a0ecff;
  --blue: #04cefe;
  --custom: #04cefe;
  --color: #4d4d4d;
  --box-shadow-1: 0 5px 15px rgba(255, 255, 255, 0.171);
  --box-shadow-2: 0 5px 15px #4ac3fc4b;
  --gradient: linear-gradient(to bottom, #a0ecff, #04cefe);
  --btn-gradient: linear-gradient(to bottom, #a0ecff, #04cefe);
  background: #000;
  
}


*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  
  
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-color);
  background-color: #000;
}

h1,
h2,
h3,
h4 {
  color: var(--blue);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.one section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}




/* ========== Custom Classes =========== */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
}

@media (max-width: 567px) {
  .container {
    padding: 0 1rem;
  }
  
  



  

}



@media (max-width: 1024px) {
  


  

}

.d-flex {
  display: flex;
  align-items: center;
}


/* ========== Header =========== */
.header{
  margin-bottom: 4rem;
  height: 100px;
 
}

.header .navbar{
  padding: 2.5rem 0;
  position: relative;
  z-index: 10;
}

.header .navbar .row{
  justify-content: space-between;
}

.header img{
  height: 75px;
  width: 300px;
  margin-bottom: 30px;
}

.header .navbar .row .nav-list a{
  display: inline-block;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--white-color);
}
.header .navbar .row .nav-list a.user-link{
  display: none;
}

.header .navbar .row .nav-list a:not(:last-child){
  margin-right: 0.5rem;
}

.header .navbar .row .nav-list a:hover{
  color: var(--primary-color);
}

.header .navbar .row .icons .icon{
  font-size: 2.2rem;
  padding: .5rem;
  color: var(--white-color);
  cursor: pointer;
  justify-content: center;
  position: relative;
}

.header .navbar .row .icons .icon:not(:last-child){
  margin-right: 3rem;
}

.header .navbar .row .icons .icon span{
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-color);
  border: 1px solid var(--white-color);
  position: absolute;
  top: .3rem;
  right: .4rem;
  border-radius: 50%;
}

.header .navbar .row .icons .icon:hover{
  background-color: #04ccfe2d;
  border-radius: 5px;
  
}

.header .hamburger,
.header .close{
  display: none;
}

@media (min-width: 1600px){
  .header .navbar{
    padding: 4rem 0;
  }
}

@media (max-width: 768px){
  .header .navbar .row .icons{
    display: none;
  }

  .header .navbar .row .nav-list{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 35rem;
    height: 100%;
    background-color: var(--black-color);
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1rem;
    transition: .5s;
  }

  .header .navbar .row .nav-list a{
    font-size: 1.8rem;

  }

  .header .navbar .row .nav-list a:not(:last-child){
    margin: 0 0 1rem 0;
    
  }

  .header .navbar .row .nav-list .close{
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: var(--white-color);
    font-size: 3rem;
    
  }
  .header .navbar .row .nav-list.show{ 
    right: 0;

  }

  .header .navbar .row .hamburger{
    display: block;
    font-size: 3rem;
    color: var(--white-color);
  }

  
}

#navbar.fixed{
  position: fixed;
  right: 0px;
 top: 0;

 
 background-color: #000;
 height: 115px;
 width: 100%;
 
 
}

#navbar.fixed .hero{
  margin-top: 4rem;
}

/* ========== Dropdown =========== */
li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #04ccfe0e;}

.dropdown:hover .dropdown-content {
display: grid;
}
/* ========== Hero Area =========== */
.header .hero{
  height: 80vh;
  margin: 0 3rem;
  overflow: hidden;
}

.header .hero .row{
  height: 100%;
  
  border-radius: 2rem;
  position: relative;
}

.header .hero .row .col{
  margin-left: 5rem;
}

.header .hero .row .col .subtitle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  font-size: 3rem;
  margin-bottom: 4rem;
  color: var(--white-color);
  text-shadow: 0 0 10px #04cefe,
  0 0 10px #04cefe,
  0 0 30px #04cefe,
  0 0 70px #04cefe,
  0 0 110px #04cefe;
  
  
}


.header .hero .row .col p{
  font-family: "Aclonica", sans-serif;
  display: block;
  font-size: 4rem;
  margin-left: 1.5rem;
  color: var(--white-color);
  text-shadow: 0 0 10px #04cefe,
  0 0 10px #04cefe,
  0 0 30px #04cefe,
  0 0 70px #04cefe,
  0 0 110px #04cefe;
}


.header .hero .row .col h1{
  color: var(--white-color);
  font-family: "Aclonica", sans-serif;
  font-size: 13rem;
  line-height: 1;
  text-shadow: 0 0 10px #04cefe,
    0 0 10px #04cefe,
    0 0 30px #04cefe,
    0 0 70px #04cefe,
    0 0 110px #04cefe;
}

.header .hero .row .col h1 .i{
  color: var(--primary-color);
  position: relative;
}

.header .hero .row .col h1 .i::before{
  content: "ı";
  position: absolute;
  color: #f0f0f0;
}

@media (max-width: 550px){
  .header .hero .row .col h1 .i::before{
    display: none;
  }
}


.header .hero .row .col p{
  font-size: 2rem;
  margin-bottom: 6rem;

}

.header .hero .row .col .btn{
  
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #04cefe;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #04cefe;
    -webkit-box-reflect: below 0px linear-gradient(transparent, #5bdeff27);
    transition: 0.5s;
    transition-delay: 0s;
}

.header .hero .row .col .btn:hover{
    transition-delay: 1.5s;
    color: white;
    box-shadow: 0 0 10px #04ccfe73,
    0 0 20px #04ccfe73,
    0 0 40px #04ccfe73,
    0 0 80px #04ccfe73,
    0 0 1600px #04ccfe73;

}

.header .hero .row .col .btn::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #04cefe;
    box-shadow: 5px -8px 0 #04cefe,
    5px 8px 0 #04cefe;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.header .hero .row .col .btn:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 #04cefe,
    5px 0 0 #04cefe;
    transition-delay: 0s, 0.5s, 1s, 1s;
    
}

.header .hero .row .col .btn::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #04cefe;
    box-shadow: -5px -8px 0 #04cefe,
    -5px 8px 0 #04cefe;
    transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
   
}
.header .hero .row .col .btn:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 #04cefe,
    -5px 0 0 #04cefe;
    transition-delay: 0s, 0.5s, 1s, 1s;
    

}

.header .hero .row img{
  position: absolute;
  right: 0;
  transform: translateX(30%);
  bottom: 0;
  height: 370px;
  width: 740px;
  
}

@media(max-width: 1600px){
  .header .hero img{ 
    width: 40rem;
  }
}

@media(max-width: 1200px){
  .header .hero .row .col h1{ 
    font-size: 8rem;
  }

  

  .header .hero{
    text-align: center;
    align-items: center;
  }
}

@media(max-width: 768px){
  .header .hero .row .col { 
    position: absolute;
    top: 10%;
    margin-left: 0;

  }

  .header .hero img{
    display: none;
  }
  
}
section{
  height: 120vh;
}



/* ========== Collection =========== */
.section .title{
  text-align: center;
  margin-bottom: 5rem;
}

.section .title span{
  display: inline-block;
  border-bottom: 3px solid var(--primary-color);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.section .title span::before{
  content: "";
  position: absolute;
  bottom: -0.7rem;
  right: 2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.section .title h2{
  font-size: 2.4rem;
}

.collection .filters{
  justify-content: center;
  margin-bottom: 7rem
}

.collection .filters div{
  padding: 1.7rem 4rem;
  color: var(--white-color);
  font-size: 1.7rem;
  border-radius: .8rem;
  box-shadow: var(--box-shadow-1);
  cursor: pointer;
}

.collection .filters div:not(:last-child){
  margin-right: 4rem;
}

.collection .filters div:hover,
.collection .filters div.active{
  background: var(--gradient);
  color: var(--black-color);
  box-shadow: var(--box-shadow-2);
  font-weight: bold
}



.collection .products .swiper-wrapper{
  padding: 0 0 1.5rem;
}

.collection .products .product{
  border-radius: 2.5rem;
  box-shadow: var(--box-shadow-1);
  overflow: hidden;
}

.collection .products .product .top{
  background: var(--gradient);
  height: 30rem;
  justify-content: center;
  position: relative;
}

.collection .products .product .top img{
  height: 25rem;
}

.collection .products .product .top .icon{
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 50%;
  font-size: 2.5rem;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.collection .products .product .top:hover .icon{
  opacity: 1;
  visibility: visible;
}


.collection .products .product .bottom{
  padding: 2.5rem 2rem;
}


.collection .products .product .bottom a{
  font-size: 1.8rem;
  color: #04cefe;
  width: 85%;
  height: 5rem;
  margin-bottom: 1.6rem;
}

.collection .products .product .bottom .d-flex{
  justify-content: space-between;
}

.collection .products .product .bottom .price{
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}

.collection .products .product .bottom .rating{
  color: var(--primary-color);
}

.collection .products .product .bottom .rating i:not(:last-child){
  margin-right: 0.3rem
}

.collection .products .pagination{
  text-align: center;
  margin-top: 3rem;
}


.collection .products .pagination .swiper-pagination-bullet{
  background-color: var(--primary-color);
  height: 1rem;
  width: 1rem;

}


.collection .products .pagination .swiper-pagination-bullet-active{
  width: 3rem;
  border-radius: 1.5rem;

}

@media (max-width: 1600px){
  .collection.products .product .top{
    height: 35rem;
  }
}

@media (max-width: 768px){
  .collection .filters{
    margin-bottom: 7rem;
  }

  .collection.filters div{
    padding: 1.2rem 2.5rem;
    font-size: 1.6rem;
  }

  .collection.filters div:not(:last-child){
    margin-right: 2rem;

  }


}

@media (max-width: 567px){
  .collection .filters {
    flex-wrap: wrap;
  }

  .collection .filters div{
    padding: .7rem 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .collection .filtersdiv:not(:last-child){
    margin-right: 1rem;
  }


}
/* ========== Arrivals =========== */

/* ========== Categories Product =========== */

/* ========== Statistics =========== */

/* ========== Blog =========== */
.contact{
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: black;
}

.contact .wrapper{
  width: 720px;
  
  border-radius: 5px;

}

.contact .wrapper header{
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #04cefe;
  padding-top: 100px;
}

.contact .wrapper form{
  margin: 35px 30px;
  

}

form .dbl-field{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
  color: white;
  


}

.dbl-field .field{
  height: 50px;
  position: relative;
  width: calc(100% / 2 - 13px);

}
.dbl-field .field i{
  color: #ffffff;
}

form .field input,
form .message textarea
{
  height: 100%;
  color: white;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.034);
  border-radius: 10px;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border: 1px solid #ffffff0c;

}

form .field input::placeholder,
form .message textarea::placeholder{
  color: rgba(255, 255, 255, 0.288);

}
form .field input:focus,
form .message textarea:focus{
  border: 2px solid #04cefe;
}

form  .dbl-field .field input:focus,form .message textarea:focus ~ i{
  color: #04cefe;
}
.wrapper form i{
  position: absolute;
  left: 18px;
  top: 50%;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  background: none;


}

form .message{
  position: relative;

}

form .message i{
  top: 30px;
  font-size: 22px;
  color: #ffffff;

}

form .message textarea{
  min-width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: 203px;
  padding: 15px 20px 0 48px;
}
form .button-area{
  margin: 25px 0;
  color: white;
  display: flex;
  align-items: center;
}

.button-area button{
  padding: 13px 25px;
  font-size: 18px;
  border: none;
  background: #04cefe;
  border-radius: 5px;
  cursor: pointer;

}

.button-area span{
  color: #04cefe;
  margin-left: 30px;
  display: none;

}


/* ========== Icons =========== */
.icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.icons-container .icons{
  display: flex;
  color: var(--custom);
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 0;
  font-size: 40px;
  box-shadow: var(--box-shadow-2);
}



.icons-container .icons h3{
  font-size: 1.9rem;
 padding-bottom: .5rem;
}

.icons-container .icons p{
  font-size: 1.4rem;
 color: rgba(255, 255, 255, 0.445);
}

/* ========== User Form =========== */
/* ========== About=========== */
.about2{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about2 .main img{
 width: 500px;
 max-width: 100%;
 height: auto;
 padding: 0px 10px;
 margin-top: 150px;

}

.all-text{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
  margin-top: 100px;
  
}

.about2 .main{
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.all-text h4{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.336);
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}
.all-text h1{
  font-size: 49px;
  color: #04cefe;
  font-weight: 700;
  margin-bottom: 20px;
}

.all-text p{
  font-size: 14px;
  color: white;
  line-height: 30px;
  margin-bottom: 35px;
}

.all-text .btn a{
  background: rgb(0, 0, 0);
  padding: 20px 32px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: 3px solid #04cefe;
  box-shadow: 0px 16px 32px 0px rgba(79, 195, 216, 0.11);
  margin-right: 20px;

}

.all-text .btn a:hover{
  background-color: #04cefe;
  color: black;
  transition: .3s;
  cursor: pointer;
}

.all-text .btn .btn2{
  background: white;
  color: black;
}


@media(max-width: 768px){
  #about img{
    display: none;
  }

  #about{
    margin-top: 100px;
  }

  .icons-container{
    margin-bottom: 400px;
  }
}

/* ========== Footer =========== */

.footer .box-container{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
 
  
  
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  color: white;
  padding: 1rem 0;
}

.footer .box-container .box h3 i{
  color: #04cefe;
}


.footer .box-container .box .links{
  display: block;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}
.footer .box-container .box .links i{
  color: #04cefe;
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
  
  padding-right: 2rem;
}

.footer .box-container .box p{
  line-height: 1.8;
  font-size: 1.5rem;
  color: white;
  padding: 1rem 0;
}

.footer .box-container .box  .share a{
  height: 4rem;
  width: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color: #04cefe;
  margin-left: .2rem;
  
  text-align: center;
  margin-top: 20px;
  
}

.footer .box-container .box  .share a:hover{
  color: white;
}

.footer .box-container .box .email{
  
  margin: .7rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #ffffff0e;
  font-size: 1.6rem;
  color: white;
  text-transform: none;
}

.footer .box-container .box .payment-img{
  margin-top: 2rem;
  height: 3rem;
}
.credit{
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.020);
}

.credit span{
  color: #04cefe;
  background: none;
  font-size: 2.5rem;
  cursor: alias;
}

.live{
  margin: 100px;
  margin-bottom: 150px;
  text-align: center;
}

.kontakt{
  margin-bottom: 80px;
  height: 1050px;
  width: 100%;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black-color);
  transition: opacity 0.75s, visibility 0.75s;
  
}

.loader--hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid white;
  border-top-color: var(--blue);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;

  }

  @keyframes loading {
    from { transform: rotate(0turmn);}
    to {transform: rotate(1turn);}
  }


  .flex-box{
    display: flex;
    width: 1000px;
    margin: 20px auto;
    margin-top: 78px;
  }

  .left{
    width: 50%;
  }

.big-img{
  width: 250px;
}
 
.big-img img{
  width: inherit;
}

.images{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 15px;
}

.small-img{
  width: 50px;
  
  

}

.small-img img{
  width: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

.small-img:hover img{
  transform: scale(1.2);
}



.url{
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.479);

}

.pname{
  font-size: 26px;
  font-weight: 600;
  margin-top: 30px;
}

.ratings i{
  color: var(--blue);
  margin-top: 10px;
}

.ratings{
  color: var(--blue);
  
}

.speicher h1{
  color: white;
  font-weight: bold;
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 15px;
  
}

.speicher a{
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
  transition: all 0.3s ease;
  
}

.speicher a:hover{
  font-size: 15px;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;

}

@media (max-width: 768px) {
  .flex-box{
    display: block;
    width: 90%;
    margin-left: 20px;
  }
}
