@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  --text-color: white;
  --primary-color: #04cefe;
  --light-white: #e4e4e4;
  --card-bg: #141414;
  scroll-behavior: smooth;
  overflow: scroll; /* Damit der Inhalt nicht abgeschnitten wird */
  scrollbar-width: none;
}

.hide-scrollbar {
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.pc-configurator {
 max-width: 80%;
  margin: 100px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.saved-config {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: white;
  background-color: var(--card-bg);
}

.saved-config p {
  margin: 0 0 10px;
}

.saved-config button {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}


.navigation-buttons {
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #04cefe;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}



.step-summary {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: var(--card-bg);
  color: white;
}

.step-summary p {
  margin: 5px 0;
}

.step-summary p.price {
  font-weight: bold;
}

/* Optionen-Container */
.options-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Zentriert die Spalten horizontal */
  align-items: center; /* Zentriert die Spalten vertikal */
  min-height: 60vh; /* Sorgt dafür, dass die Container-Höhe mindestens die Ansichtshöhe beträgt */
}

/* Option-Elemente */
.option {
  display: flex;
  flex-direction: column; /* Stapelt die Inhalte vertikal */
  justify-content: center; /* Zentriert die Bilder vertikal innerhalb des Containers */
  align-items: center; /* Zentriert die Inhalte horizontal */
  width: calc(25% - 20px); /* Berechnet die Breite für 4 Spalten mit dem Abstand */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  box-sizing: border-box; /* Verhindert, dass Padding und Border die Breite beeinflussen */
  transition: background-color 0.3s, border-color 0.3s;
}

.option img {
  width: auto; /* Bild an die Breite der Option anpassen */
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  align-self: center; /* Zentriert das Bild horizontal innerhalb des Flex-Containers */
}


.option img {
  width: auto; /* Bild an die Breite der Option anpassen */
  height: auto;

  object-fit: cover;
  margin-bottom: 10px;
}

.option p {
  margin: 10px 0;
  font-size: 14px;
  color: white;
  align-self: center; /* Zentriert den Text horizontal innerhalb des Flex-Containers */
}

.option p.price {
  font-weight: bold;
  color: white;
}

.option.selected {
  border: 2px solid var(--primary-color);
  padding: 15px;
  background: rgba(4, 206, 254, 0.1); /* Hintergrundfarbe für ausgewählte Option */
}

/* Hintergrundbild */
.background-container::before {
  content: ''; /* Erforderlich für das ::before-Pseudo-Element */
  position: fixed; /* Absolute Positionierung für das Hintergrundbild */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg-config.png'); /* Pfad zum Hintergrundbild */
  background-size: cover; /* Das Bild vollständig abdecken */
  background-position: center; /* Bild zentrieren */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  opacity: 0.6; /* Opazität des Hintergrundbildes */
  z-index: -1; /* Hintergrundbild hinter den Inhalt legen */
}


/* Responsive Anpassungen */
@media (max-width: 767px) { /* Für Handys */
  .option {
    width: 100%; /* Eine Komponente pro Reihe */
  }
  .pc-configurator {
    margin-top: 80px;
  width: 100%;}
  .gehäuse-bilder img{
    min-height: 200px;
    max-height: 250px;
  }
}

@media (min-width: 768px) and (max-width: 1030px) { /* Für Tablets */
  .option {
    width: calc(50% - 20px); /* Zwei Komponenten pro Reihe */
  }
  .gehäuse-bilder img{
    min-height: 200px;
    max-height: 250px;
  }
   
}


@media (min-width: 1200px) and (max-width: 1700px) { /* Für Tablets */
  .gehäuse-bilder img{
    min-height: 200px;
    max-height: 250px;
  } 
}
@media (min-width: 1700px) { /* Für Tablets */
  .option img{
    height: auto;
    width: auto;
    
  
  }

  

  

  .options-container {

    gap: 20px;}
  

  .pc-configurator {
    width: 100%;
  }
}

/* ---------------- */
.cpu-brand-selection, .gpu-brand-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.cpu-brand-selection label, .gpu-brand-selection label {
  display: flex;
  align-items: center;
  background-color: var(--card-bg); /* Standard Hintergrund */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: white; /* Standard Textfarbe */
  font-weight: bold;
}

.cpu-brand-selection label:hover, .gpu-brand-selection label:hover {
  background-color: var(--card-bg); /* Hover Hintergrundfarbe */
}

.cpu-brand-selection input[type="radio"], .gpu-brand-selection input[type="radio"] {
  display: none; /* Radio Buttons verstecken */
}

/* Ausgewählter Zustand */
.cpu-brand-selection label.selected, .gpu-brand-selection label.selected {
  background-color: var(--primary-color); /* Blau für ausgewählte Labels */
  color: white; /* Textfarbe für ausgewählte Labels */
}


.card{
  background-image: url('/cardbg.png'); /* Pfad zum Hintergrundbild */
  
  background-position: center; /* Bild zentrieren */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
}


.card2{
  background-image: url('/cardbg-tw.png'); /* Pfad zum Hintergrundbild */
  
  background-position: center; /* Bild zentrieren */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
}



.gehäuse-bilder img{
  height: 400px;
  width: auto;
}



/* App.css */
.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  
}

h1, h2 {
  text-align: center;
  color: white;
}

.question-step {
  margin: 20px 0;
}

.answers-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.answer-option {
  margin-bottom: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.answer-option label {
  font-size: 16px;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 10px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons button {
  padding: 10px 20px;
  background-color: #04cefe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.navigation-buttons button:hover {
  background-color: #04cefe;
}

.recommendation {
  text-align: center;
  padding: 20px;
}

.recommendation h2 {
  color: #04cefe;
  margin-bottom: 20px;
}

.recommendation button {
  padding: 10px 20px;
  background-color: #04cefe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.recommendation button:hover {
  background-color: #04cefe;
}















/* Main Container */
.impressum-container {
  position: relative;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Overlay to darken the background */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: 1;
}

/* Content Styling */
.content {
  position: relative;
  z-index: 2;
  text-align: left;
  padding: 20px;
  max-width: 700px;
}

.content h2 {
  color: #04cefe;
  font-size: 2rem;
  margin-bottom: 20px;
}

.content p {
  margin: 10px 0;
  line-height: 1.6;
}

.content a {
  color: #04cefe;
  text-decoration: none;
}

.content a:hover {
  text-decoration: underline;
}

.disclaimer {
  font-size: 0.9rem;
  margin-top: 20px;
  color: #b3b3b3;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .content h2 {
    font-size: 1.5rem;
  }

  .content p {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 480px) {
  .content h2 {
    font-size: 1.2rem;
  }

  .content p {
    font-size: 0.85rem;
  }

  .disclaimer {
    font-size: 0.75rem;
  }
}




.image-slider-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Vollständige Höhe des Bildschirms */
  display: flex; /* Flexbox aktivieren */
  flex-direction: column; /* Inhalte vertikal anordnen */
  justify-content: flex-start; /* Inhalte oben positionieren */
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* Füllt die gesamte Höhe des Containers aus */
  overflow: hidden;
}

.left-image,
.right-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Bilder innerhalb des Containers anpassen */
}

/* Weiße Linie */
.slider-line {
  position: absolute;
  left: 10%; /* Abstand von 10% vom linken Rand des Bildes */
  top: 10%; /* Abstand von 10% vom oberen Rand des Bildes */
  width: 5px; /* Dickerer Strich */
  height: 80%; /* Höhe von 80% des Bildes */
  background-color: white;
  z-index: 10;
  transition: height 0.3s ease; /* Animation für Höhenänderung */
}

.slider-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: ew-resize;
}

/* Slider-Text */
.slider-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: white;
  z-index: 30;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

/* Responsive Anpassungen für verschiedene Bildschirmgrößen */
@media (max-width: 768px) {

  .image-slider-container {
    height: auto;
  }

  .left-image,
  .right-image {
    object-fit: contain; /* Bildverhältnis auf Tablets anpassen */
  }

  .slider-line {
    height: 40%; /* Kürzere Höhe für Tablets */
     top: 30%;/* Position bleibt gleich */
  }

  .slider-text {
    font-size: 12px; /* Kleinere Schrift auf Tablets */
    top: 5px; /* Weniger Abstand zum oberen Rand */
  }

  .image-wrapper {
    height: 60vh; /* Reduziert die Höhe für Tablets */
  }
}

@media (max-width: 480px) {
  .image-slider-container {
    height: 60vh;
  }
  .left-image,
  .right-image {
    object-fit: contain; /* Bildverhältnis auf Handys anpassen */
  }

  .slider-line {
    height: 40%; /* Noch kürzere Höhe für Handys */
    top: 30%; /* Position bleibt gleich */
  }

  .slider-text {
    font-size: 10px; /* Noch kleinere Schrift auf Handys */
    top: 3px; /* Weniger Abstand zum oberen Rand */
  }

  .image-wrapper {
    height: 50vh; /* Reduziert die Höhe für Handys */
  }
}


